<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
        <div class="card-body">
            <form [formGroup]="Eform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input class="form-control" type="text" formControlName="nome">
                </div>
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="inputCargo">Cargo</label>
                    <select (change)="updateProfile($event.target.value)" class="custom-select form-control" formControlName="cargo">
                        <option value="">Escolha...</option>
                    <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}">{{employeeProfile}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputTel">Telefone</label>
                    <input type="tel" class="form-control" formControlName="telefone">
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Salvar</button>
                  </div>
            </form>
        </div>
    </div>
</div>